@font-face {
    font-family: 'poppinsblack';
    src: url('../components/fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('../components/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinslight';
    src: url('../components/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinsmedium';
    src: url('../components/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinsregular';
    src: url('../components/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinssemibold';
    src: url('../components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  @media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 35px;
    }

    form{
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    input{
        align-self: center;
        width: 100px;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
    }

    
    aside{
        text-align: center;
    }

}
body{
    background-color: rgb(34,34,34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 100px;
    min-height: 100vh;
    position: relative;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
flex-direction: column;
line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
    position: relative;
}
ul li{
    float: left;
    width: 50px;
    height: 30px;
    opacity: 0.9;
    line-height: 40px;
    text-align: center;

}
ul li a{
    text-decoration: none;
    display:block;
}
ul li ul li{
    visibility: hidden;
}
ul li:hover ul li{
    visibility: visible;
}

a{
    color: white;
}

a:hover{
    color: #e58a1f;
    transition: 0.3 all;
}

h1{
    font-weight: 200;
}

main{
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: #e58a1f;
}

p{
    text-align: justify;
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 620px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #e58a1f;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
}

article{
    padding-left: 110px;
}
footer{
    font-family: poppinslight;
    padding: 15px;
    margin-bottom: 0;
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2e2c2c;
    color: white;
    text-align: center;
}



